doctype
html
    head
        include ../../m-head
        +head( 'Weather' )
    body.lbody
        include ../../top-form
        include ../../m-index
        +index( 'Узнать погоду', 'Top', 'no-icon' )
