doctype
html
    head
        include ../../m-head
        +head( 'Adult' )
    body.lbody
        include ../../top-form
        include ../../m-index
        +index( 'Смотреть', 'noTop', 'no-icon' )
