mixin index( buttonText, dopTop, icon )
    .wrapper
        .header__container
            .header
                .header__logo
                .header__elements
            case dopTop
                when 'Top'
                    .header__dopTop
                    .header__extra
                        .relation
                        #infoScreen.relation__content
                when 'noTop'
                    .header__extra
                        .relation
                        #infoScreen.relation__content
        .wrapper__form
            button.button__buy( onclick="document.getElementById('frm-btn').submit(); return false;" )
                case icon
                    when 'icon'
                        span.button__text #{ buttonText }
                        span.button__icon
                    when 'no-icon'
                        span.button__text #{ buttonText }
            button.button__cancel( onclick="document.getElementById('frm-cancel').submit(); return false;" ) Отмена
        .footer Подписка на доступ к интернет-ресурсу&nbsp;
            a( href="http://vtrendo.by/" ) http://vtrendo.by/
            | . Стоимость подписки: 0,34р. с НДС за 1 день. Нажатием кнопки «#{ buttonText }» вы осуществляете подписку на доступ к интернет-ресурсу «vtrendo.by» и подтверждаете ознакомление и согласие с&nbsp;
            a( href="http://vtrendo.by/oferta/oferta_by_life.html", target="_blank" ) условиями его предоставления
            | . Для отказа от подписки отправьте SMS с текстом «STOP 899»  на номер 1445 (бесплатно в сети life). Все способы отключения смотрите на странице с&nbsp;
            a( href="http://vtrendo.by/oferta/oferta_by_life.html", target="_blank" ) условиями подписки