/* top extra block */

.header__extra {
  margin-top: 10px;
  height: 100px;
  position: relative;
  margin-bottom: -100%;

  display: none;

  .xxs-o( @p, display, block);
  .xxs-o( @p, height, 120px);
  .md-o( @l, display, block);
}


@back-header-relation-image: url('../images/first-screen.png');
@back-header-relation-position: top;
@back-header-relation: @back-header-relation-image @back-header-relation-position no-repeat;
@back-size-header-relation: 80% auto;

.relation__content {
  .full-size;
  position: absolute;
  top: 0; left: 0;

  background: @back-header-relation;
  background-size: @back-size-header-relation;
}


@keyframes back {
  0% {
    transform: scale(.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}