doctype
html
    head
        include ../../m-head
        +head( 'General' )
    body.lbody
        include ../../top-form
        include ../../m-index
        +index( 'Смотреть', 'noTop', 'icon' )
