/* cancel + footer */

@back-button-cancel: rgba(254, 254, 254, .8);
@color-button-cancel: rgb(51, 51, 51);
@border-button-cancel: none;
@border-r-button-cancel: 2px;

.button__cancel {
  background: @back-button-cancel;
  color: @color-button-cancel;

  border: @border-button-cancel;
  border-radius: @border-r-button-cancel;
}

/* footer */
@back-footer: rgb(0, 0, 0);
@color-footer: rgb(219, 219, 219);

.footer {
  background: @back-footer;
  color: @color-footer;
}
