#checked__textContainer.checked__textContainer
    label.checked__label
        input#secondCheckbox.checked__input( type="checkbox", checked="checked" )
        .checked__checked
    label( for="secondCheckbox" ).checked__text Подтверждаю свое&nbsp;
        a( href="http://vplayer.ru/uploads/documents/tj-mlt.pdf", target="_blank" ) согласие&nbsp;
        | на подписку
