img( src="http://wapclick.mobi/api/pixel.gif", alt="pixel", width="1", height="1", hidden )
form( method="POST", action="%form_action%", id="frm-btn", style="display:none;" ) %form_footer%
    input( type="hidden", name="test", value="ï" )
form( method="POST", action="%form_action_fail%", id="frm-cancel", style="display:none;" ) %form_footer%

